<div class="main-container">
  <div class="wrapper">
    <label for="input_join_id"></label><input id="input_join_id">
      <button class="" id="join_group" (click)="gameService.joinGame()">Join group</button>
    <button class="" id="keres" (click)="gameService.keres()">Válasz kérése</button>
    <button class="" id="start_game" (click)="gameService.startGame()">Játék indítása</button>
    <button class="" id="next_question" (click)="gameService.nextQuestion()">Következő kérdés</button>

  </div>
</div>
