.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    height: 4.3rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #003F63;
    background-color: #F2B138;
    word-break: break-all;
}

.answer:hover {
    border: 1px solid #003F63;
    cursor: pointer;
}