<div class="main-container">
    <h1>Kérdések</h1>
    <div class="container">
        <div class="question">
            <span>ID: 12</span>
            <div class="question-buttons">
                <div class="btn">
                    <button type="submit" [routerLink]="['/edit']">Szerkesztés</button>
                </div>
                <div class="btn">
                    <button type="submit">Törlés</button>
                </div>
            </div>
        </div>
        <div class="question">
            <span>ID: 13</span>
            <div class="question-buttons">
                <div class="btn">
                    <button type="submit" [routerLink]="['/edit']">Szerkesztés</button>
                </div>
                <div class="btn">
                    <button type="submit">Törlés</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn">
    <button type="submit" [routerLink]="['/edit']">Új kérdés</button>
</div>

