<div class="question-header">
    <span class="question">{{ question.text }}</span>
    <span class="score">Max pontszám: {{question.points}}</span>
</div>
<div class="answer" *ngFor="let answer of question.answers; let i = index"
     [ngClass]="{
        'correct-marked-answer': (answer.correct === true && answer.marked === true),
        'correct-answer': (answer.correct === true && answer.marked === false),
        'incorrect-answer': (answer.correct === false && answer.marked === true)
     }">
    <div class="center">
        <span class="answer-text">{{ answer.text }}</span>
    </div>
</div>
