<div class="main-container">
  <h1>Kérdés</h1>
  <div class="container">
    <form>
      <div class="description">
        <span>Kérdés:</span>
        <div class="details">
          <input name="question" type="text" placeholder="Adja meg a kérdést" [(ngModel)]="question.text" required>
        </div>
      </div>
      <div class="number-data">
        <div class="description-point">
          <span>Pontszám:</span>
          <div class="details">
            <input name="score" type="number" placeholder="Adja meg a kérdésre kapható pontszámot" [(ngModel)]="question.points" required>
          </div>
        </div>
        <div class="description-time">
          <span>Idő:</span>
          <div class="details">
            <input name="time" type="number" placeholder="Adja meg a kérdés idejét" [(ngModel)]="question.secondsToAnswer" required>
          </div>
          <span class="question-number">Sorszám:</span>
          <div class="details">
            <input name="position" type="number" placeholder="Adja meg a kérdés sorszámát" [(ngModel)]="question.position" required>
          </div>
        </div>
      </div>
      <div class="answers">
        <div class="answer">
          <span>A:</span>
          <input name="answerA" type="text" placeholder="Adja meg a választ" [(ngModel)]="question.answers[0].text" required>
          <input name="answerA.isCorrect" type="checkbox" [(ngModel)]="question.answers[0].isCorrect">
        </div>
        <div class="answer">
          <span>B:</span>
          <input name="answerB" type="text" placeholder="Adja meg a választ" [(ngModel)]="question.answers[1].text" required>
          <input name="answerB.isCorrect" type="checkbox" [(ngModel)]="question.answers[1].isCorrect">
        </div>
        <div class="answer">
          <span>C:</span>
          <input name="answerC" type="text" placeholder="Adja meg a választ" [(ngModel)]="question.answers[2].text">
          <input name="answerC.isCorrect" type="checkbox" [(ngModel)]="question.answers[2].isCorrect">
        </div>
        <div class="answer">
          <span>D:</span>
          <input name="answerD" type="text" placeholder="Adja meg a választ" [(ngModel)]="question.answers[3].text">
          <input name="answerD.isCorrect" type="checkbox" [(ngModel)]="question.answers[3].isCorrect">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="btn">
  <button type="submit" (click)="createQuestion()">Mentés</button>
</div>
