label {
    margin: 0;
}

.question-header {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    padding: .5rem;
    border-radius: 10px;
    background-color: #003F63;
}

.question {
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
}

.rank {
    text-align: center;
    margin-left: .2rem;
}

.score {
    text-align: center;
    margin-right: .2rem;
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    margin: .7rem 0rem .7rem 0rem;
    height: 4rem;
    border-radius: 10px;
    font-family: 'IBM Plex Mono', monospace;
    color: #003F63;
    background-color: #F2B138;
    word-break: break-all;
}

.correct-marked-answer {
    border: 2px solid green;
}

.correct-answer {
  border: 2px solid yellow;
}

.incorrect-answer {
    border: 2px solid red;
}

.answer-text {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    width: 2.2rem;
    padding: .5rem;
    font-size: 2rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    cursor: context-menu;
}

.slider.round:before {
    border-radius: 50%;
}

.chart-container {
    height: 400px;
}

@media screen and (max-width: 780px) {
    .answer-text {
      max-width: 24rem;
    }
}

@media screen and (max-width: 550px) {
    .answer-text {
      max-width: 20rem;
    }
}

@media screen and (max-width: 480px) {
    .answer-text {
      max-width: 18rem;
    }
}

@media screen and (max-width: 420px) {
    .answer-text {
      max-width: 15rem;
    }
}
