* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 0.5rem;
    background: #F2B138;
    border-radius: 10px;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

h2 {
    text-align: center;
    padding: 0.5rem;
    background: #003F63;
    border-bottom: 1px solid #A1A5A6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #D9D9D9;
}

.main-container {
    padding: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}

.lobby-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2B138;
    border-radius: 10px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem;
}

.lobby-header span {
    font-size: 2rem;
    flex:1;
    display: flex;
    justify-content: center;
}

.players {
    background: #D9D9D9;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem;
}

.btn {
    padding: 0;
}

.btn button {
    border: none;
    color: #D9D9D9;
    background: #003F63;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.37);
}

.btn button:active {
    box-shadow: none;
}

.btn button:focus {
    outline: none;
}
