<div class="main-container">
  <div class="questions-header">
    <span>Kérdések</span>
    <button id="btn-new-question" (click)="newQuestion()">Új kérdés</button>
  </div>
  <div class="container" *ngIf="!isLoaded">
    <span>Kérdések betöltése...</span>
  </div>
  <div class="container" *ngIf="questions == undefined && isLoaded">
    <span>Jelenleg nincsenek kérdéseid!</span>
  </div>
  <div class="container" *ngIf="isLoaded && questions != undefined">
    <app-quiz-question-list-item *ngFor="let question of questions" [question]="question" (deleteQuestionListItem)="deleteQuestion(question)">
    </app-quiz-question-list-item>
  </div>
</div>
<button type="submit" [routerLink]="['../../']">Vissza</button>