<div class="container">
    <div class="chart-container">
        <canvas id="canvas"></canvas>
    </div>
    <p class="question">Ez egy kérdés?</p>
    <div class="answers-container">
        <div class="answer">
            <div class="answer-text">Válasz1</div>
        </div>
        <div class="answer">
            <div class="answer-text">Válasz2</div>
        </div>
        <div class="answer-correct">
            <div class="answer-text">Válasz3</div>
        </div>
        <div class="answer">
            <div class="answer-text">Válasz4</div>
        </div>
    </div>
</div>