@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav {
  background: #eca92b;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .nav-item:hover {
  background: #003F63;
  border-radius: 10px;
  transition: all .3s ease-in-out;
} */

.box-shadow {
  box-shadow: 0 .08rem .75rem rgba(0, 0, 0, 0.274);
}
