<div class="main-container">
    <div class="wrapper">
        <div class="question">
            <span class="question-text">{{question.text}}</span>
        </div>
        <div class="timer-wrapper">
            <span class="time">{{ displayTime }}</span>
        </div>
        <button class="next-btn" (click)="nextQuestion()" [disabled]="disableNextQuestion">Következő kérdés</button>
        <div class="answer" [id]="'answer' + i" *ngFor="let answer of question.answers; let i = index"
             [ngClass]="{'correct-answer': (answer.correct === true)}">
            <div>
                <span class="letter">{{ letters[i] }}</span>
                <span>{{ answer.text }}</span>
            </div>
        </div>
        <span class="answer-counter">{{stats[0]}}</span>
        <span class="answer-counter">{{stats[1]}}</span>
        <span class="answer-counter">{{stats[2]}}</span>
        <span class="answer-counter">{{stats[3]}}</span>
        <div class="chart">
            <div class="chart-container">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
</div>
