<div class="main-container">
  <h1>Kérdés</h1>
  <div class="container">
    <form [formGroup]="questionForm">
      <div class="description">
        <span>Kérdés:</span>
        <div class="details">
          <input name="question" type="text" formControlName="questiontext" placeholder="Adja meg a kérdést" required>
        </div>
      </div>
      <div class="number-data">
        <div class="description-point">
          <span>Pontszám:</span>
          <div class="details">
            <input name="score" formControlName="score" min="0" type="number" placeholder="Adja meg a kérdésre kapható pontszámot" required>
          </div>
        </div>
        <div class="description-time">
          <span>Idő:</span>
          <div class="details">
            <input name="time" formControlName="timeToAnswer" min="5" type="number" placeholder="Adja meg a kérdés idejét" required>
          </div>
          <span class="question-number">Sorszám:</span>
          <div class="details">
            <input name="position" formControlName="position" min="1" type="number" placeholder="Adja meg a kérdés sorszámát" required>
          </div>
        </div>
      </div>
      <div class="answers">
        <div class="answer">
          <span>A:</span>
          <input name="answerA" formControlName="answerA" type="text" placeholder="Adja meg a választ" required>
          <input name="answerAcorrect" formControlName="answerACorrect" type="checkbox">
        </div>
        <div class="answer">
          <span>B:</span>
          <input name="answerB" formControlName="answerB" type="text" placeholder="Adja meg a választ" required>
          <input name="answerBcorrect" formControlName="answerBCorrect" type="checkbox">
        </div>
        <div class="answer">
          <span>C:</span>
          <input name="answerC" formControlName="answerC" type="text" placeholder="Adja meg a választ" required>
          <input name="answerCcorrect" formControlName="answerCCorrect" type="checkbox">
        </div>
        <div class="answer">
          <span>D:</span>
          <input name="answerD" formControlName="answerD" type="text" placeholder="Adja meg a választ" required>
          <input name="answerDcorrect" formControlName="answerDCorrect" type="checkbox">
        </div>
      </div>
    </form>
  </div>
</div>
<button type="submit" (click)="createQuestion()" [disabled]="questionForm.invalid">Mentés</button>
<button type="submit" [routerLink]="['../']">Vissza</button>

