<div class="main-container">
  <div class="wrapper">
      <div class="question">
          <span class="question-text">{{question.text}}</span>
      </div>
      <div class="timer-wrapper">
          <span class="time">{{ displayTime }}</span>
      </div>
  </div>
  <div class="answers-wrapper">
      <app-quiz-answer 
        *ngFor="let answer of question.answers" [answer]="answer"
        [timeIsOver]="timeIsOver"
        [disableAnswer]="disableAnswers"
        (answerHasBeenSelected)="answerSelectedHandler($event)"
      >
      </app-quiz-answer>
  </div>
</div>